<a href="https://colab.research.google.com/github/DVK-MSU/testing/blob/main/spark_session_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

import numpy as np
import pandas as pd
#Функция для передачи результата sql-запроса в pandas DataFrame.
#Напиши select = """ SELECT * FROM table""" и вызови функцию sql(select)
def sql(select):
    SQLdf = spark.sql(select)
    return SQLdf.toPandas()

import pyspark.sql.functions as F

from google.colab import data_table
data_table.disable_dataframe_formatter()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=54e991a0c98a5c49feae0a86acffa8359c2e7d2aa7b383aeedcc6730a61bcc9f
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

# Load data

In [5]:
def reheadering_ETL():
    #extraction data from csv
    path = "/content/drive/MyDrive/Spark_training/california_housing_train.csv"
    sc = spark.read.csv(path)
    sc.createOrReplaceTempView("df")
    #transformation data (reheadering columns)
    sc_pandas = sc.toPandas()
    columns_name = dict(zip(sc_pandas.columns.to_list(),sc_pandas.iloc[0].to_list()))
    sc_pandas.rename(columns=columns_name, inplace=True)
    sc_pandas.drop([0], inplace=True)
    sc = spark.createDataFrame(sc_pandas)
    #loading data to json
    sc.write.json('/content/drive/MyDrive/Spark_training/output', mode='overwrite')
reheadering_ETL()

In [6]:
spark.read.json('/content/drive/MyDrive/Spark_training/output').show() # output data

+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| 472.000000|         15.000000|34.190000|-114.310000|      66900.000000|     1.493600|1015.000000|   1283.000000|5612.000000|
| 463.000000|         19.000000|34.400000|-114.470000|      80100.000000|     1.820000|1129.000000|   1901.000000|7650.000000|
| 117.000000|         17.000000|33.690000|-114.560000|      85700.000000|     1.650900| 333.000000|    174.000000| 720.000000|
| 226.000000|         14.000000|33.640000|-114.570000|      73400.000000|     3.191700| 515.000000|    337.000000|1501.000000|
| 262.000000|         20.000000|33.570000|-114.570000|      65500.000000|     1.925000| 624.000000|    326.000000|1454.000000|
| 239.000000|         29.000000|33.630000|-114.580000|      74000.000000|     3.343800| 671.000000|    236.000000|1387.000000|
| 633.000000|         25.000000|33.610000|-114.580000|      82400.000000|     2.676800|1841.000000|    680.000000|2907.000000|
| 158.000000|         41.000000|34.830000|-114.590000|      48500.000000|     1.708300| 375.000000|    168.000000| 812.000000|
|1056.000000|         34.000000|33.610000|-114.590000|      58400.000000|     2.178200|3134.000000|   1175.000000|4789.000000|
| 271.000000|         46.000000|34.830000|-114.600000|      48100.000000|     2.190800| 787.000000|    309.000000|1497.000000|
| 824.000000|         16.000000|33.620000|-114.600000|      86500.000000|     2.679700|2434.000000|    801.000000|3741.000000|
| 437.000000|         21.000000|33.600000|-114.600000|      62000.000000|     1.625000|1182.000000|    483.000000|1988.000000|
| 211.000000|         48.000000|34.840000|-114.610000|      48600.000000|     2.157100| 580.000000|    248.000000|1291.000000|
| 479.000000|         31.000000|34.830000|-114.610000|      70400.000000|     3.212000|1346.000000|    464.000000|2478.000000|
| 300.000000|         15.000000|32.760000|-114.630000|      45000.000000|     0.858500| 949.000000|    378.000000|1448.000000|
| 401.000000|         17.000000|34.890000|-114.650000|      69100.000000|     1.699100|1005.000000|    587.000000|2556.000000|
| 256.000000|         28.000000|33.600000|-114.650000|      94900.000000|     2.965300| 666.000000|    322.000000|1678.000000|
|  27.000000|         21.000000|32.790000|-114.650000|      25000.000000|     0.857100|  64.000000|     33.000000|  44.000000|
| 320.000000|         17.000000|32.740000|-114.660000|      44000.000000|     1.204900| 775.000000|    386.000000|1388.000000|
|  15.000000|         17.000000|33.920000|-114.670000|      27500.000000|     1.265600|  29.000000|     24.000000|  97.000000|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 20 rows

In [7]:
sc_renamed = spark.read.json('/content/drive/MyDrive/Spark_training/output')
sc_renamed.dtypes

[('households', 'string'),
 ('housing_median_age', 'string'),
 ('latitude', 'string'),
 ('longitude', 'string'),
 ('median_house_value', 'string'),
 ('median_income', 'string'),
 ('population', 'string'),
 ('total_bedrooms', 'string'),
 ('total_rooms', 'string')]

In [8]:
def FloatType_Transform(sc_renamed):
    #Extract
    sc_renamed = spark.read.json('/content/drive/MyDrive/Spark_training/output')
    #Transform
    from pyspark.sql.functions import col
    return sc_renamed.select([col(col_name).cast('float') for col_name in sc_renamed.columns])
sc_renamed= sc_renamed.transform(FloatType_Transform)
sc_renamed.write.json('/content/drive/MyDrive/Spark_training/output/float_type_transform', mode='overwrite')

In [9]:
spark.read.json('/content/drive/MyDrive/Spark_training/output/float_type_transform').dtypes

[('households', 'double'),
 ('housing_median_age', 'double'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('median_house_value', 'double'),
 ('median_income', 'double'),
 ('population', 'double'),
 ('total_bedrooms', 'double'),
 ('total_rooms', 'double')]

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Frame Mappers

Получение нового DF с преобразованными значениями

In [15]:
sc_renamed.show()

+----------+------------------+--------+---------+------------------+-------------+----------+--------------+-----------+
|households|housing_median_age|latitude|longitude|median_house_value|median_income|population|total_bedrooms|total_rooms|
+----------+------------------+--------+---------+------------------+-------------+----------+--------------+-----------+
|     472.0|              15.0|   34.19|  -114.31|           66900.0|       1.4936|    1015.0|        1283.0|     5612.0|
|     463.0|              19.0|    34.4|  -114.47|           80100.0|         1.82|    1129.0|        1901.0|     7650.0|
|     117.0|              17.0|   33.69|  -114.56|           85700.0|       1.6509|     333.0|         174.0|      720.0|
|     226.0|              14.0|   33.64|  -114.57|           73400.0|       3.1917|     515.0|         337.0|     1501.0|
|     262.0|              20.0|   33.57|  -114.57|           65500.0|        1.925|     624.0|         326.0|     1454.0|
|     239.0|              29.0|   33.63|  -114.58|           74000.0|       3.3438|     671.0|         236.0|     1387.0|
|     633.0|              25.0|   33.61|  -114.58|           82400.0|       2.6768|    1841.0|         680.0|     2907.0|
|     158.0|              41.0|   34.83|  -114.59|           48500.0|       1.7083|     375.0|         168.0|      812.0|
|    1056.0|              34.0|   33.61|  -114.59|           58400.0|       2.1782|    3134.0|        1175.0|     4789.0|
|     271.0|              46.0|   34.83|   -114.6|           48100.0|       2.1908|     787.0|         309.0|     1497.0|
|     824.0|              16.0|   33.62|   -114.6|           86500.0|       2.6797|    2434.0|         801.0|     3741.0|
|     437.0|              21.0|    33.6|   -114.6|           62000.0|        1.625|    1182.0|         483.0|     1988.0|
|     211.0|              48.0|   34.84|  -114.61|           48600.0|       2.1571|     580.0|         248.0|     1291.0|
|     479.0|              31.0|   34.83|  -114.61|           70400.0|        3.212|    1346.0|         464.0|     2478.0|
|     300.0|              15.0|   32.76|  -114.63|           45000.0|       0.8585|     949.0|         378.0|     1448.0|
|     401.0|              17.0|   34.89|  -114.65|           69100.0|       1.6991|    1005.0|         587.0|     2556.0|
|     256.0|              28.0|    33.6|  -114.65|           94900.0|       2.9653|     666.0|         322.0|     1678.0|
|      27.0|              21.0|   32.79|  -114.65|           25000.0|       0.8571|      64.0|          33.0|       44.0|
|     320.0|              17.0|   32.74|  -114.66|           44000.0|       1.2049|     775.0|         386.0|     1388.0|
|      15.0|              17.0|   33.92|  -114.67|           27500.0|       1.2656|      29.0|          24.0|       97.0|
+----------+------------------+--------+---------+------------------+-------------+----------+--------------+-----------+
only showing top 20 rows

In [36]:
df_1 = sc_renamed.rdd.map(lambda x: (x['households']/10, x['housing_median_age']/2))\
.toDF(['households','housing_median_age'])

In [37]:
df_1.show()

+----------+------------------+
|households|housing_median_age|
+----------+------------------+
|      47.2|               7.5|
|      46.3|               9.5|
|      11.7|               8.5|
|      22.6|               7.0|
|      26.2|              10.0|
|      23.9|              14.5|
|      63.3|              12.5|
|      15.8|              20.5|
|     105.6|              17.0|
|      27.1|              23.0|
|      82.4|               8.0|
|      43.7|              10.5|
|      21.1|              24.0|
|      47.9|              15.5|
|      30.0|               7.5|
|      40.1|               8.5|
|      25.6|              14.0|
|       2.7|              10.5|
|      32.0|               8.5|
|       1.5|               8.5|
+----------+------------------+
only showing top 20 rows

Добавление новой колноки, рассчитаной на основе существующих

In [40]:
from pyspark.sql.functions import lit

In [52]:
df_2 = df_1.withColumn('multiplication_col', df_1.households*df_1.housing_median_age)

In [59]:
df_2.show()

+----------+------------------+------------------+
|households|housing_median_age|multiplication_col|
+----------+------------------+------------------+
|      47.2|               7.5|             354.0|
|      46.3|               9.5|439.84999999999997|
|      11.7|               8.5| 99.44999999999999|
|      22.6|               7.0|158.20000000000002|
|      26.2|              10.0|             262.0|
|      23.9|              14.5|346.54999999999995|
|      63.3|              12.5|            791.25|
|      15.8|              20.5|323.90000000000003|
|     105.6|              17.0|1795.1999999999998|
|      27.1|              23.0| 623.3000000000001|
|      82.4|               8.0|             659.2|
|      43.7|              10.5|            458.85|
|      21.1|              24.0|506.40000000000003|
|      47.9|              15.5| 742.4499999999999|
|      30.0|               7.5|             225.0|
|      40.1|               8.5|            340.85|
|      25.6|              14.0|358.40000000000003|
|       2.7|              10.5|             28.35|
|      32.0|               8.5|             272.0|
|       1.5|               8.5|             12.75|
+----------+------------------+------------------+
only showing top 20 rows

In [68]:
from pyspark.sql.functions import udf

In [69]:
@udf
def rounding(x):
    return round(x, 2)
# rounding_udf = udf(rounding)

df_3 = df_2.select(df_2.households, df_2.housing_median_age, rounding(df_2.multiplication_col))

In [70]:
df_3.show()

+----------+------------------+----------------------------+
|households|housing_median_age|rounding(multiplication_col)|
+----------+------------------+----------------------------+
|      47.2|               7.5|                       354.0|
|      46.3|               9.5|                      439.85|
|      11.7|               8.5|                       99.45|
|      22.6|               7.0|                       158.2|
|      26.2|              10.0|                       262.0|
|      23.9|              14.5|                      346.55|
|      63.3|              12.5|                      791.25|
|      15.8|              20.5|                       323.9|
|     105.6|              17.0|                      1795.2|
|      27.1|              23.0|                       623.3|
|      82.4|               8.0|                       659.2|
|      43.7|              10.5|                      458.85|
|      21.1|              24.0|                       506.4|
|      47.9|              15.5|                      742.45|
|      30.0|               7.5|                       225.0|
|      40.1|               8.5|                      340.85|
|      25.6|              14.0|                       358.4|
|       2.7|              10.5|                       28.35|
|      32.0|               8.5|                       272.0|
|       1.5|               8.5|                       12.75|
+----------+------------------+----------------------------+
only showing top 20 rows

In [71]:
df_3 = df_3.withColumnRenamed('rounding(multiplication_col)', 'multiplication_col')

In [72]:
df_3.show()

+----------+------------------+------------------+
|households|housing_median_age|multiplication_col|
+----------+------------------+------------------+
|      47.2|               7.5|             354.0|
|      46.3|               9.5|            439.85|
|      11.7|               8.5|             99.45|
|      22.6|               7.0|             158.2|
|      26.2|              10.0|             262.0|
|      23.9|              14.5|            346.55|
|      63.3|              12.5|            791.25|
|      15.8|              20.5|             323.9|
|     105.6|              17.0|            1795.2|
|      27.1|              23.0|             623.3|
|      82.4|               8.0|             659.2|
|      43.7|              10.5|            458.85|
|      21.1|              24.0|             506.4|
|      47.9|              15.5|            742.45|
|      30.0|               7.5|             225.0|
|      40.1|               8.5|            340.85|
|      25.6|              14.0|             358.4|
|       2.7|              10.5|             28.35|
|      32.0|               8.5|             272.0|
|       1.5|               8.5|             12.75|
+----------+------------------+------------------+
only showing top 20 rows