<a href="https://colab.research.google.com/github/DVK-MSU/testing/blob/main/spark_session_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

import numpy as np
import pandas as pd
#Функция для передачи результата sql-запроса в pandas DataFrame.
#Напиши select = """ SELECT * FROM table""" и вызови функцию sql(select)
def sql(select):
    SQLdf = spark.sql(select)
    return SQLdf.toPandas()

import pyspark.sql.functions as F

from google.colab import data_table
data_table.disable_dataframe_formatter()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# Load data

In [ ]:
def reheadering_ETL():
    #extraction data from csv
    path = "/content/drive/MyDrive/Spark_training/california_housing_train.csv"
    sc = spark.read.csv(path)
    sc.createOrReplaceTempView("df")
    #transformation data (reheadering columns)
    sc_pandas = sc.toPandas()
    columns_name = dict(zip(sc_pandas.columns.to_list(),sc_pandas.iloc[0].to_list()))
    sc_pandas.rename(columns=columns_name, inplace=True)
    sc_pandas.drop([0], inplace=True)
    sc = spark.createDataFrame(sc_pandas)
    #loading data to json
    sc.write.json('/content/drive/MyDrive/Spark_training/output', mode='overwrite')
reheadering_ETL()

In [ ]:
spark.read.json('/content/drive/MyDrive/Spark_training/output').show() # output data

+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| households|housing_median_age| latitude|  longitude|median_house_value|median_income| population|total_bedrooms|total_rooms|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
| 472.000000|         15.000000|34.190000|-114.310000|      66900.000000|     1.493600|1015.000000|   1283.000000|5612.000000|
| 463.000000|         19.000000|34.400000|-114.470000|      80100.000000|     1.820000|1129.000000|   1901.000000|7650.000000|
| 117.000000|         17.000000|33.690000|-114.560000|      85700.000000|     1.650900| 333.000000|    174.000000| 720.000000|
| 226.000000|         14.000000|33.640000|-114.570000|      73400.000000|     3.191700| 515.000000|    337.000000|1501.000000|
| 262.000000|         20.000000|33.570000|-114.570000|      65500.000000|     1.925000| 624.000000|    326.000000|1454.000000|
| 239.000000|         29.000000|33.630000|-114.580000|      74000.000000|     3.343800| 671.000000|    236.000000|1387.000000|
| 633.000000|         25.000000|33.610000|-114.580000|      82400.000000|     2.676800|1841.000000|    680.000000|2907.000000|
| 158.000000|         41.000000|34.830000|-114.590000|      48500.000000|     1.708300| 375.000000|    168.000000| 812.000000|
|1056.000000|         34.000000|33.610000|-114.590000|      58400.000000|     2.178200|3134.000000|   1175.000000|4789.000000|
| 271.000000|         46.000000|34.830000|-114.600000|      48100.000000|     2.190800| 787.000000|    309.000000|1497.000000|
| 824.000000|         16.000000|33.620000|-114.600000|      86500.000000|     2.679700|2434.000000|    801.000000|3741.000000|
| 437.000000|         21.000000|33.600000|-114.600000|      62000.000000|     1.625000|1182.000000|    483.000000|1988.000000|
| 211.000000|         48.000000|34.840000|-114.610000|      48600.000000|     2.157100| 580.000000|    248.000000|1291.000000|
| 479.000000|         31.000000|34.830000|-114.610000|      70400.000000|     3.212000|1346.000000|    464.000000|2478.000000|
| 300.000000|         15.000000|32.760000|-114.630000|      45000.000000|     0.858500| 949.000000|    378.000000|1448.000000|
| 401.000000|         17.000000|34.890000|-114.650000|      69100.000000|     1.699100|1005.000000|    587.000000|2556.000000|
| 256.000000|         28.000000|33.600000|-114.650000|      94900.000000|     2.965300| 666.000000|    322.000000|1678.000000|
|  27.000000|         21.000000|32.790000|-114.650000|      25000.000000|     0.857100|  64.000000|     33.000000|  44.000000|
| 320.000000|         17.000000|32.740000|-114.660000|      44000.000000|     1.204900| 775.000000|    386.000000|1388.000000|
|  15.000000|         17.000000|33.920000|-114.670000|      27500.000000|     1.265600|  29.000000|     24.000000|  97.000000|
+-----------+------------------+---------+-----------+------------------+-------------+-----------+--------------+-----------+
only showing top 20 rows

In [ ]:
sc_renamed = spark.read.json('/content/drive/MyDrive/Spark_training/output')
sc_renamed.dtypes
print('sucsess')

sucsess

In [ ]:
def FloatType_Transform(sc_renamed):
    #Extract
    sc_renamed = spark.read.json('/content/drive/MyDrive/Spark_training/output')
    #Transform
    from pyspark.sql.functions import col
    return sc_renamed.select([col(col_name).cast('float') for col_name in sc_renamed.columns])
sc_renamed= sc_renamed.transform(FloatType_Transform)
sc_renamed.write.json('/content/drive/MyDrive/Spark_training/output/float_type_transform', mode='overwrite')

In [ ]:
spark.read.json('/content/drive/MyDrive/Spark_training/output/float_type_transform').dtypes

[('households', 'double'),
 ('housing_median_age', 'double'),
 ('latitude', 'double'),
 ('longitude', 'double'),
 ('median_house_value', 'double'),
 ('median_income', 'double'),
 ('population', 'double'),
 ('total_bedrooms', 'double'),
 ('total_rooms', 'double')]

In [ ]:
print('new_line')

new_line

In [ ]:
#!git version

git version 2.34.1

In [ ]:
#!git init

hint: Using 'master' as the name for the initial branch. This default branch name
hint: is subject to change. To configure the initial branch name to use in all
hint: of your new repositories, which will suppress this warning, call:
hint:
hint: 	git config --global init.defaultBranch <name>
hint:
hint: Names commonly chosen instead of 'master' are 'main', 'trunk' and
hint: 'development'. The just-created branch can be renamed via this command:
hint:
hint: 	git branch -m <name>
Initialized empty Git repository in /content/drive/MyDrive/Spark_training/.git/

In [ ]:
#!git add /content/drive/MyDrive/Spark_training/spark_session_copy.ipynb

In [ ]:
#!git commit -m "24/08/2023 ver_1"

[master (root-commit) e1ecfcd] 24/08/2023 ver_1
 1 file changed, 1 insertion(+)
 create mode 100644 spark_session_copy.ipynb

In [ ]:
#!git log --graph

* commit e1ecfcd440e8e1e9ed1b2ee3304f050b2f363976 (HEAD -> master)
  Author: DVK-MSU <dmitriy28kozlov@yandex.ru>
  Date:   Thu Aug 24 11:56:09 2023 +0000

      24/08/2023 ver_1

In [ ]:
#!git config --global user.email “dmitriy28kozlov@yandex.ru”

In [ ]:
#!git config --global user.name “DVK-MSU”

In [ ]:
#!git remote add origin https://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@github.com/DVK-MSU/spark_testing.git

In [ ]:
#!git branch -M main

In [ ]:
#!git push origin main

fatal: could not read Password for 'https://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@github.com': No such device or address

In [ ]:
#!ls -al ~/.ssh

ls: cannot access '/root/.ssh': No such file or directory

In [ ]:

#!ssh-keygen -t ed25519 -f '/content/drive/MyDrive/Spark_training/ssh_key'

Generating public/private ed25519 key pair.
/content/drive/MyDrive/Spark_training/ssh_key already exists.
Overwrite (y/n)? ^C
/bin/bash: line 1: y: command not found

In [ ]:
#! git clone https://github.com/DVK-MSU/testing.git

Cloning into 'testing'...
warning: You appear to have cloned an empty repository.

In [ ]:
#! pwd

In [ ]:
#! git remote -v

origin	https://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@github.com/DVK-MSU/spark_testing.git (fetch)
origin	https://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@github.com/DVK-MSU/spark_testing.git (push)

In [ ]:
! git status

On branch main
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   spark_session_copy.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	._SUCCESS.crc
	.part-00000-d0af1608-0926-492a-a877-3bb85114c09f-c000.csv.crc
	.part-00001-d0af1608-0926-492a-a877-3bb85114c09f-c000.csv.crc
	README.md
	california_housing_train.csv
	output/
	spark_testing/
	ssh_key
	testing/

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
#%cd /content/drive/MyDrive/Spark_training/testing

/content/drive/MyDrive/Spark_training/testing

In [ ]:
#!pwd

/content/drive/MyDrive/Spark_training/testing

In [ ]:
#! git add -A

In [ ]:
! git status

On branch main

No commits yet

nothing to commit (create/copy files and use "git add" to track)

In [ ]:
#!pip install google-colab-shell
#from google_colab_shell import getshell
#getshell()

Requirement already satisfied: google-colab-shell in /usr/local/lib/python3.10/dist-packages (0.2)